
@import "template.css";

.border {
    background: rgb(219,255,195);
    background: linear-gradient(90deg, rgba(219,255,195,0.3144608185070903) 0%, rgba(141,141,141,0.7458333675266982) 52%, rgba(0,212,255,0.26684177088804273) 100%);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px
}
    .border:after {
        content: "";
        display: table;
        clear: both;
    }

.mainbar {
    background-color: white;
    border-radius:10px;
    float: left;
    width: 75%;
}

.post {
    padding: 20px;
}
    .post p {
        font-family: Calibri;
        letter-spacing: 1px;
        font-size: 20px;
    }

.sidebar {
    float: left;
    width: 25%;
    padding:20px;
}

.card {
    margin-bottom: 20px;
}
.tradingview-widget-container{
    margin:auto
}

.crdimg {
    padding: 20px;
    width: 100%
}

.footer {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

    .footer a {
        text-decoration: none;
        color: black
    }


@media screen and (max-width: 800px) {
    body {
        padding: 0px;
    }
    .border {
        padding: 0px;
    }
    .tradingview-widget-container {
        display: none
    }
    .sidebar,.mainbar {
        width: 100%;
        padding: 0;
        margin:0;
        margin-top: 20px;
    }
}
