@import "template.css";

.border {
    background: rgb(219,255,195);
    background: linear-gradient(90deg, rgba(219,255,195,0.3144608185070903) 0%, rgba(141,141,141,0.7458333675266982) 52%, rgba(0,212,255,0.26684177088804273) 100%);
    padding: 20px;
    margin-top: 20px;
    border-radius:10px
}

.main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.post {
    padding: 5px;
}

.post p {
    font-family:Calibri;
    letter-spacing:1px;
    font-size:20px;
}

#eurusd {
    display: none;
}

#xauusd {
    display: none;
}

#btc {
    display: none;
}

#eth {
    display: none;
}
.butt {
    text-align: center;
}

button {
    text-align: center;
    width: 150px;
    padding: 10px 0;
    margin: 10px 10px;
    border-radius: 20px;
    background: white;
    color: black;
}

    button:hover {
        background-color: mediumspringgreen;
        color: black;
    }



@media screen and (max-width: 420px) {
    body{
        padding:0px;
    }

    .nav {
        display:block;
    }

    .border {
        padding:0px;
    }

    .post p {
        font-size: 15px
    }
}