$shadow:0px 0px 1px black;
$border: 1px solid darkslategray;

body {
    background-color: black;
    font-family: Calibri;
    box-sizing: border-box;

}
.container table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;


    tr {
        table-layout: fixed;
        text-align: center;
        height: 75px;
        border-color: white;
    }

    td {
        width: 33.33%;
        box-shadow: $shadow;
        border: $border;
    }

    th {
        width: 33.33%;
        background-color: darkslategray;
        color: white;
        border: $border;
    }

    .sticky {
        box-shadow: $shadow;
        position: sticky;
        top: 0px;
    }
}

