*{
    box-sizing: border-box;
    font-family:Calibri;
}
body {
    background-color: black;
    padding:0px;
}
.header {
    height:100px;
}
.container {
    width: 65%;
    margin: auto;
    border-radius: 10px;
    color: black;
    padding: 20px;
    -webkit-animation: puff-in 1s both;
    animation: puff-in 1s both;
}
.border {
    padding: 10px;
    border-radius: 10px;
    background: rgb(243,0,255);
    background: linear-gradient(90deg, rgba(243,0,255,0.28084737312893904) 0%, rgba(255,35,206,0.3900910706079307) 100%);
    box-shadow:0px 0px 4px violet;
}
.row {
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
}
.col {
    width: 50%;
    display: flex;  
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:20px;
  
}
.label {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.input {
    width:100%;
    outline: none;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    border-color: blueviolet;
}
    .input:focus {
        border-color: violet;
    }
.submit {
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}
    .submit:hover {
        background-color: violet;
    }
.ready {
    margin: 20px auto auto auto;
    width:100%;
    display:flex;
    gap:20px;
    justify-content:center;
}

.cradio {
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    border: solid 0.3px
}

.radio {
    display: none;
}
    .radio:checked ~ .cradio {
        background-color: blueviolet;
    }
.select {
    outline:none;
    width: 100%;
    justify-content: start;
    padding: 5px;
    border-radius: 5px;
    border-color: blueviolet;
}
.select:focus {
    border-color: violet;
}
.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.logo img{
    border-radius:10px;
}
.footer {
    text-align: center;
    color: darkmagenta;
    animation: puff-in 0.1s;
    opacity: 0.7;
    height:100px
}
    .footer p {
        font-size: 20px;
    }

@-webkit-keyframes puff-in {
    0% {
        -webkit-transform: scale(2);
        -webkit-filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -webkit-filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    *{
        font-size:20px;
    }
    .container {
        width: 100%;
        margin:0;
        padding:0;
    }
    .form {
        padding: 20px;
    }
    .header{
        height:50px;
    }
    .row{
        flex-direction:column;
    }
    .col{
        width:100%;
    }
}