*{
    box-sizing: border-box;
}
body {
    background-color: black;
}
.form {
    border-radius: 20px;
    width: 100%;
    margin: auto;
    height: 500px;


}
.test {
    width: 70%;
    margin:auto;
    background-color: white;
    height: 500px;
    border-radius: 20px;
}

.planet{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:80%;
    margin:auto;
    z-index:-1;
    gap:50px;
    
}
.planet img{
    width:100px;
}


@media screen and (max-width:1000px) {
    .test{
        width:100%
    }
    .planet img {
        width: 50px;
    }

}

