body {
    background-repeat: repeat;
    background-size: 700px;
}
.header {
    color: lightseagreen;
    font-family: "Sofia";
    font-size: 65px;
}

.crdimg {
   width:100%;
   margin-bottom:20px
}

.lnk {
    color: black;
    text-decoration: none;
}
    .lnk:hover {
        color: darkgray
    }
